* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
/*     outline: 1px solid rgb(251, 255, 0);  *//* contorno rojo semitransparente */
}

@font-face {
  font-family: 'FuenteBody';
  src:
    url('fuente/HenriDidot.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuenteExtra';
  src:
    url('fuente/wind.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'FuenteBody', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
} */

.back-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -3;
}

.back-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    object-fit: cover;
}

.overlay { /* Capa rosa semitransparente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
/*     background: linear-gradient(to left, rgba(255, 20, 147, 0) 0%, rgba(255, 20, 147, 0.25) 25%, rgba(255, 20, 147, 0.55) 100%); */
    overflow: hidden;
    z-index: -2;
/*     opacity: 0.55; */
    object-fit: cover;
}

.cuerpo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 3vw;
    font-family: 'FuenteExtra', 'Lobster', sans-serif;
    background: linear-gradient(to left, #fff0f3 10%, transparent 80%);
}

li.D {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    width: 60%;
    border-bottom-right-radius: 20vw;
    border-right: 8px solid #ecbecb ;
}

li.D a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.8vw 0vw 0.8vw 0vw;
    width: 100%;
    height: auto;
}

li.D img {
    width: 55%;
    height: 100%;
    object-fit: cover;
    filter: hue-rotate(735deg) saturate(1000%) brightness(90%);;
}

li.Q {
    display: none;
}

li.menu-uñas {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 2vw 1vw 1vw;
    width: fit-content;
}

.nail-menu {
    width: 100%;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.nail-line {
    width: 24px;
    height: 5px;
    border-radius: 8px 8px 3px 3px;
    background: linear-gradient(to bottom, #fce4eb, #e75480);
    box-shadow: inset 0 -2px 3px rgba(0,0,0,0.2);
    transform-origin: center;
    transition: all 0.3s ease;
}

/* Mostrar/ocultar menú */
.mobile-Servicios {
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@media screen and (max-width: 666px) {
    .menu-uñas:hover .mobile-Servicios {
        display: flex;
    }
}

.mobile-Servicios a {
    text-decoration: none;
    color: #e75480;
    font-weight: bold;
    padding: 5px 0;
}

.menu-uñas {
    position: relative;
    list-style: none;
}

.contenido {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

#Pros {
    position: relative;
    display: flex;
    overflow: visible;
    white-space: nowrap;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, 0);
    width: 200%;
    font-size: 6vh;
    border-left: 3px solid #ecbecb;
    border-bottom: 3px solid rgb(0, 0, 0);
    border-top-left-radius: 10vw;
    border-bottom-left-radius: 20vw;
    padding: 0 2vw 0 2vw;
    animation: moverPros 5s ease-in-out forwards;
    animation-fill-mode: both;
}

@keyframes moverPros{
    0% {
    }
    100% {
        width: 40%;
    }
}


#Pros a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vw;
    padding-top: 100px;
    padding-right: 10%;
}

#Pros h5 {
    text-align: left;
}

.Cita {
    top:-3px;
    position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    width: 300%;
    animation-fill-mode: both;
/*     transform: translate(100%, 0); */
    animation: moverCita 3s ease-in-out forwards;
}

@keyframes moverCita {
    0% {
    }

    100% {
        width: 50%;
    }
}

#solicita {
    position: relative;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-left: 15%;
    padding-right: 15%;
    font-size: 3vh;
    border-bottom-right-radius: 60vw;
    border-top-right-radius: 60vw;
    border-top: 3px solid black;
    border-right: 3px solid black;
    background: linear-gradient(to left, #ecbecb 5%, transparent 20%);
    font-family: 'FuenteExtra', 'Lobster', sans-serif;
    color: #ecbecb;
}

@keyframes moverCita {
    0% {
    }

    100% {
        transform: translate(0, 0);
        width: 50%;
    }
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    bottom: 0px;
    box-sizing: content-box;
    border-top: 6px solid whitesmoke;
    font-family: 'FuenteExtra', 'Lobster', sans-serif;
}

#Contacto {
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-width: 100%;
    padding: 2vw 3vw;
    background-color: whitesmoke;
    z-index: 2;
}

#Contacto .C1 {
    padding-bottom: 1vw;
}

#Contacto p {
    text-align: right;
}

#Contacto .CLast {
    padding-top: 1vw;
}

footer .Logo {
    display: none;
}

/* MEDIA QUERY */
@media screen and (min-width: 666px) {

    .back-video video {
        width: 100vw;
    }

    .overlay {
        background: linear-gradient(to bottom, rgba(255, 20, 147, 0) 0%, rgba(255, 20, 147, 0.55) 45%, rgba(255, 20, 147, 0.65) 100%);
    }

    li.D {
        padding: 0vw 15vw 0vw 2vw;
    }

    li.D img {
        width: 50%;
        height: auto;
    }

    li.Q {
        display: flex;
        position: relative;
        align-items: flex-end;
        padding: 1vw 1vw 1vw 1vw;
        width: fit-content;
        text-align: right;
        font-size: 3vw;
        align-items: center;
        justify-content: center;
        color: #420029f0;
    }

    li.menu-uñas {
        display: none;
    }

    .nail-menu {
        display: none;
    }

    .nail-line {
        display: none;
    }

    .mobile-Servicios {
        display: none;
    }

    .Servicios {
        display: none;
        position: absolute;
        align-items: flex-end;
        font-size: 2.5vh;
        gap: 2vw;
        padding: 2vw 3vw 2vw 2vw;
        color: black;
        width: 100%;
        top: 100%;
        left: 0;
        border-bottom-left-radius: 7vw;
        border-left: 7px solid #fce4eb;
    }

    .Servicios a {
        text-align: right;
    }
    
    li.Q:hover .Servicios {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }
    
    .Servicios a:hover{
        text-shadow: 0px 0px 15px rgb(209, 206, 162);
    }

    #Pros {
        border-top-left-radius: 8vh;
        border-bottom-left-radius: 15vh;
        font-size: 8vh;
    }

    #Pros a {
        gap: 2vw;
        padding-top: 50px;
    }

    .Cita {
        align-items: center;
    }

    #solicita {
        position: relative;
        display: flex;
        white-space: nowrap;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin-left: 10%;
        padding-right: 15%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 3vh;
        border-bottom-right-radius: 60vw;
        border-top-right-radius: 60vw;
        border-top: 3px solid black;
        border-right: 3px solid black;
        background: linear-gradient(to left, #ecbecb 5%, transparent 20%);
        font-family: 'FuenteExtra', 'Lobster', sans-serif;
        color: #ecbecb;
        animation: widthSolicita 3s ease-in-out forwards;
    }

    @keyframes widthSolicita {
        0% {
        }

        100% {
            width: 50%;
        }
    }

    @keyframes moverCita {
        0% {
        }

        100% {
            transform: translate(0, 0);
            width: 50%;
        }
    }

    #Contacto {
        flex-direction: row;
        justify-content: space-around;
        padding: 2vw 0;
    }

    #Contacto .C1 {
        padding-left: 25vw;
        font-size: 2vw;
    }

    #Contacto p,
    #Contacto .CLast {
        padding: 0;
    }
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {

.Servicios {
    gap: 3vw;
}

}